/* Your CSS here. */
.smallimg {
    padding-top: 20px;
    width: 150px;
    height: 150px;
}
.mainarea {
    display: flex;
    flex-direction: column;   
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    align-items: center;    
    background-color: rgb(137, 67, 207);  
    color: white;
    padding: 20px;

}
.body {
    
}